.game-decisions {
  font-size: 14px;
  padding: 1.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & h3 {
    flex: 1 0 100%;
  }

  & .player {
    position: relative;
    margin: 0 0 1rem;
    flex: 1 0 calc(100% - 1rem);
    grid-template-areas:
      'avatar name name'
      'avatar summary summary'
      'avatar note note';
  }

  & .player:last-child {
    margin-bottom: 0;
  }

  & .player-avatar {
    width: 64px;
    height: 64px;
    margin-right: 0.5rem;
  }
}
