.event-header {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 1rem;
  border: 1px solid var(--bg2);
  background: var(--bg);
  border-radius: 10000rem;
  padding: 0 0.75rem 0 0;
  width: max-content;
  position: relative;
  gap: 0 0.25rem;
}

.event-header.event-in-progress {
  border-color: var(--bg2);
  background: var(--bg2);

  & .event::after {
    content: 'At Bat';
  }
}

.event-header + .player .player-name {
  font-size: 12px;
}

.is-on-base.event-header {
  color: var(--text-blue);
  overflow: hidden;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--blue);
    opacity: 0.12;
    z-index: -1;
  }
}

.event-header.is-out {
  color: var(--text-red);

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--red);
    opacity: 0.12;
  }
}

.is-rbi.event-header {
  border-color: var(--blue);
  background: var(--blue);

  & .event {
    color: white;
  }
}

.event-header .current-inning {
  margin: 0;
  font: inherit;
  text-transform: none;
}
