.top-performers {
  padding: 1rem;
}

.top-performers .player {
  margin: 0 0 1rem;
  flex: 1 0 calc(100% - 1rem);
  grid-template-areas:
    'avatar name name'
    'avatar summary summary'
    'avatar note note';

  &:last-child {
    margin-bottom: 0;
  }

  & .player-avatar {
    width: 64px;
    height: 64px;
    margin-right: 0.5rem;
  }
}

.pre-game.top-performers .player {
  margin: 0 0 1rem;
  flex: 1 0 calc(100% - 1rem);
  grid-template-areas:
    'avatar name name'
    'avatar note note';

  &:last-child {
    margin-bottom: 0;
  }

  & .player-name {
    align-self: flex-end;
  }

  & .player-note {
    align-self: flex-start;
  }

  & .player-summary {
    display: none;
  }

  & .player-avatar {
    width: 64px;
    height: 64px;
    margin-right: 0.5rem;
  }
}
