.game-matchup {
  font-size: 14px;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  & h3 {
    flex: 1 0 100%;
  }

  & .current-matchup {
    flex: 1;
  }

  & .current-matchup .player {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
      'avatar name name'
      'avatar summary summary'
      'avatar note note';
    margin-bottom: 1rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  & .player-summary::before {
    content: '(G) ';
  }

  & .player-note::before {
    content: '(S) ';
  }

  & .player-avatar {
    align-self: flex-start;
  }

  & .play-events {
    flex: 1 0 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
