.team-compare {
  padding: 1rem 1rem 0.5rem;

  & .team-logo,
  & .team-record {
    display: none;
  }
}

.team-compare .cols {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.team-compare .cols .val {
  font-size: 14px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  gap: 0.25rem 0;

  &.team {
    text-align: left;
  }

  & .team-name {
    font-size: 14px;
    text-align: left;
  }

  &.away {
    span:first-child {
      color: var(--text);
      font-weight: 600;
    }
  }
  &.home {
    span:last-child {
      color: var(--text);
      font-weight: 600;
    }
  }
}

.team-compare .cols .val.teams::before,
.team-compare .cols .val[data-label]::before {
  font-size: 10px;
  font-weight: 600;
  display: inline-flex;
  color: var(--text1);
  justify-content: center;
  align-items: flex-end;
  content: attr(data-label);
}

.team-compare .cols .val.teams::before {
  content: "MLB";
  color: transparent;
}
