.game-streams {
  margin: 0;
  padding: 1rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0 0.5rem;
  position: relative;

  &:last-child {
    padding-bottom: 1.5rem;
  }

  &:empty {
    display: none;
  }

  & h3 {
    flex: 1 0 100%;
  }
}

.game-link {
  background: var(--blue);
  color: white;
  margin-bottom: 0.5rem;
}
