:root {
  --font: "Source Code Pro", sans-serif;
  --font-mono: "Source Code Pro", monospace;
  --accent: hsl(110deg 100% 30%);
  --accent-text: hsl(0deg 80% 100%);
  --secondary: hsl(161deg 40% 87%);
  --blue: hsl(240deg 97% 27%);
  --red: hsl(0 100% 40%);
  --bg: hsl(210deg 0% 100%);
  --bg1: hsl(210deg 16% 96%);
  --bg2: hsl(210deg 8% 92%);
  --bg3: hsl(210deg 8% 88%);
  --text: hsl(210deg 0% 24%);
  --text1: hsl(210deg 0% 42%);
  --text2: hsl(210deg 0% 64%);
  --text-active: var(--text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent: hsl(110deg 100% 36%);
    --accent-text: hsl(0deg 80% 0%);
    --secondary: hsl(161deg 40% 66%);
    --blue: hsl(240deg 100% 54%);
    --red: hsl(0 100% 32%);
    --bg: hsl(210deg 22% 8%);
    --bg1: hsl(210deg 22% 12%);
    --bg2: hsl(210deg 22% 20%);
    --bg3: hsl(210deg 8% 28%);
    --text: hsl(210deg 0% 100%);
    --text1: hsl(210deg 0% 70%);
    --text2: hsl(210deg 0% 30%);
    --text-active: var(--text);
  }
}

:root {
  --aside-p: 1rem;
  --input-h: 2.5rem;
  --summary-top: calc(var(--summary-h) + var(--aside-p) + var(--aside-p));
  --full-h: calc(var(--vh, 1vh) * 100);
}

/* width */
::-webkit-scrollbar {
  width: 0.25rem;
  height: 100%;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg);
  border-radius: 0.25rem;
  border-left: 1.5px solid transparent;
  border-right: 1.5px solid transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 1px solid transparent;
  background: var(--bg2);
  background-clip: content-box;
  border-radius: 0.25rem;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: hsl(110deg 100% 40%/16%);
}

html,
body {
  scrollbar-gutter: stable;
  background: var(--bg1);
  color: var(--text);
  min-height: 100svh;
  font-family: var(--font);
  font-weight: 400;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

body.game-open {
  overflow: hidden;

  details[open] {
    height: calc(100svh - 48px);
    overflow: hidden auto;
  }
}

#header {
  position: sticky;
  top: 0;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  background: var(--bg);
  z-index: 100;
  box-shadow: 0 1px 1px hsl(0deg 0% 16%/8%);

  .game-open & {
    background: var(--bg1);

    .button {
      background: var(--bg);
    }
  }
}

.button {
  font-size: 12px;
  font-family: var(--font);
  font-weight: 700;
  color: var(--text1);
  background: var(--bg1);
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  text-decoration: none;
  border: none;
  transition: background 0.15s ease-out, border-color 0.15s ease-out;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;

  & * {
    pointer-events: none;
  }
}

.button:hover {
  background: var(--bg2);
}

#refresh.loading svg {
  background: none !important;
  animation: spin 1s infinite linear;
  color: var(--bg);
}

#refresh {
  position: relative;

  &.loading {
    background: var(--text);
    color: var(--bg);
    border-radius: 0.5rem;
  }
}

#refresh::before {
  left: 0;
  margin-left: -1rem;
  transform: translateX(-100%);
  content: attr(data-time-ago);
  position: absolute;
  display: inline-flex;
  color: var(--text1);
  pointer-events: none;
  white-space: nowrap;
  font-weight: 400;
  font-size: 12px;
  text-transform: none;
  letter-spacing: 0;
}

h1 {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font: 700 0px/1 var(--font);
}

.logo {
  width: 2.5rem;
  height: auto;
}

main {
  width: 100%;
}

details {
  display: flex;
  flex-direction: column;
  color: var(--text1);
  margin: auto;
  border-bottom: 1px dotted var(--text2);
  padding: 0;

  &:last-of-type {
    /* 
      121px - height of <summary>, 
      48px - height of <header>, 
      59px - height of "Last updated" date-stamp 
    */
    margin-bottom: calc(100vh - 121px - 48px - 42px);
  }
}

.teams {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.team {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
  font-family: "Source Code Pro", monospace;
}

.team-name {
  width: 3ch;
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.team-record {
  font-size: 12px;
}

.team-score {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: 14px;
  display: grid;
  gap: 1ch;
  grid-template-columns: repeat(3, 1fr);
  font-variant-numeric: tabular-nums;

  & > span {
    width: 2ch;
    flex: 1;
    display: flex;
    justify-content: center;
  }
}

.team-name.winner:not(.loading),
.winner:not(.loading) ~ .team-score {
  color: var(--text);
  font-weight: 700;
}

.team:first-child .team-score span {
  position: relative;
}

.team:first-child .team-score span::before {
  font-size: 10px;
  font-weight: 600;
  display: inline-flex;
  color: var(--text1);
  top: -0.5rem;
  transform: translateY(-100%);
  position: absolute;
}

.team:first-child .team-score span.loading::before {
  display: none;
}

.team:first-child .team-score span:nth-child(1)::before {
  content: "R";
}

.team:first-child .team-score span:nth-child(2)::before {
  content: "H";
}

.team:first-child .team-score span:nth-child(3)::before {
  content: "E";
}

.team-logo {
  min-width: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
  display: block;
  position: relative;

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }

  &.loading {
    border-radius: 4rem;
    overflow: hidden;

    & img {
      visibility: hidden;
    }
  }
}

details[open] .final .team-logo.winner::after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background: var(--accent);
  position: absolute;
  top: 0;
  right: 0;
}

.team-runs {
  font-size: 2rem;
}

.game-time {
  font-weight: 600;
  white-space: nowrap;
  margin: 0;
}

.game-footer {
  margin: 0;
  padding: 0;

  > :first-child {
    padding-top: 1rem;
  }

  > h3:first-child {
    margin: 0 0 1rem;
    padding: 1rem 1rem 0;
  }

  h3 {
    margin: 0 0 1rem;
    font-weight: 700;
    font-size: 14px;
    color: var(--text);
    flex: 1 0 100%;
  }
}

.top-performers {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1rem;
  justify-content: flex-start;
  padding: 1rem 1rem 0;
  padding-bottom: 1.5rem;

  &:last-child {
    padding-bottom: 1.5rem;
  }
}

.footer-title {
  font-family: sans-serif;
  margin: 0 0 1rem;
  font-size: 12px;
  font-weight: 600;
  color: var(--text1);
}

.game-status {
  text-align: center;
}

details summary {
  padding: 2rem 1rem;
  display: grid;
  outline-offset: 8px;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-family: var(--font);
  position: relative;
  -webkit-font-smoothing: antialiased;
  user-select: none;
  margin: 0;

  &:has(.loading) {
    pointer-events: none !important;
  }
}

ol {
  padding: 0;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  background: linear-gradient(90deg, var(--bg2), var(--bg3), var(--bg2));
  background-size: 400% 100%;
  animation: loading-bg 4s linear infinite;
  border-radius: 4px;
  color: transparent;
}

@keyframes loading-bg {
  0% {
    background-position: 200% 0%;
  }
  100% {
    background-position: -200% 0%;
  }
}

.box-score {
  font-size: 14px;
  display: none;
  position: relative;
}

details[open][data-status="In Progress"],
details[open][data-status="Final"],
details[open][data-status="Game Over"] {
  .team-record,
  .game-details {
    display: none;
  }

  .box-score {
    display: block;
  }
}

details[open] {
  background: var(--bg);
}

details[open] summary {
  position: sticky;
  top: 0;
  z-index: 10;
  transition: none;
  background: var(--bg);
  color: var(--text-active);
  padding-bottom: 1rem;
  box-shadow: 0 1px 1px hsl(0deg 0% 0%/8%);

  @media (prefers-color-scheme: dark) {
    box-shadow: 0 1px 0 hsl(0deg 0% 100%/8%);
  }
}

details summary * {
  pointer-events: none;
}

.innings {
  display: flex;
}

.innings.title {
  top: -0.5rem;
  transform: translateY(-100%);
  position: absolute;
}

.box-teams {
  width: 4ch;
}

.box-teams,
.inning {
  display: flex;
  flex-direction: column;
}
.inning-title::after {
  font-size: 10px;
  font-weight: 400;
  content: attr(data-num);
  display: inline-flex;
  color: var(--text1);
}

summary:not(.final) .inning-title.active::after {
  color: var(--accent);
  font-weight: 700;
}

.inning-title {
  width: 2ch;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inning {
  width: 1.5ch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  z-index: 1;
  color: var(--text1);
  margin: 0 2px;
}

summary:not(.final) .away.TOP .inning span:empty:before,
summary:not(.final) .home.BOT .inning span:empty:before {
  content: "0";
  color: transparent;
}

summary:not(.final) .away.TOP .inning:last-child,
summary:not(.final) .home.BOT .inning:last-child {
  color: var(--text);

  &::after {
    border: 1px dotted var(--accent);
    border-radius: 4px;
    position: absolute;
    inset: 0;
    content: "";
    z-index: -1;
  }
}

.game-placeholder-box {
  width: 100%;
  height: auto;
  background: var(--bg2);
  aspect-ratio: 16/9;
}

.game-bug {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 1rem 1.5rem;
  background: var(--bg1);
  border-radius: 8px;
  flex: 0;

  .current-inning {
    margin-top: 0.5rem;
    font-size: 10px;
  }
}

.game-footer .game-decisions {
  font-size: 14px;
  padding: 1rem 1rem 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  h3 {
    flex: 1 0 100%;
  }
}

.last-updated {
  padding: 1rem;
  font-size: 12px;
  color: var(--text1);
}

.ctas {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.today {
  display: inline-flex;
  color: var(--text1);
  pointer-events: none;
  white-space: nowrap;
  font-weight: 400;
  font-size: 12px;
  text-transform: none;
  letter-spacing: 0;
}

.game-starting-pitchers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 1rem 1.5rem;

  .vs {
    text-align: center;
    flex: 1 4%;
    font-size: 12px;
  }

  .player {
    flex: 1 0 40%;
    margin: 0;
  }

  h3 {
    flex: 1 0 100%;
  }
}

.game-details {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 4rem;
  font-size: 12px;
  justify-content: center;
  align-self: stretch;
  align-items: center;
  border-left: 1px dotted var(--text2);
  padding: 0 0 0 0.75rem;
  margin-left: 1rem;
  box-sizing: content-box;
}

.current-inning {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--accent);
  width: 100%;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;

  svg {
    width: 12px;
    height: 12px;
    position: relative;
    top: 1px;
  }
}

.game-details .current-inning {
  position: relative;
  left: -3px;
}

.bases {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
  transform: rotate(45deg) translate(4px, 4px);

  .base {
    width: 8px;
    height: 8px;
    border: 1px solid var(--text1);
  }

  .base.runner {
    background: var(--text);
    border-color: var(--text);
  }

  .base.home {
    visibility: hidden;
  }
}

.outs {
  display: flex;
  gap: 0.25rem;
}

.out {
  font-size: 0;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  border: 1px solid var(--text1);
}

.out.is-out {
  background: var(--text);
  border-color: var(--text);
}

.balls-strikes {
  margin: 0.5rem 0 0.5rem;
  display: flex;
  gap: 0.25rem;
  display: flex;
  align-items: center;
  font-size: 10px;
  color: var(--text);
  font-weight: 600;
}

.standings {
  padding: 0 1rem 1rem;
}

.game-box-score {
  padding: 0;
}

.game-box-score .tabs-actions {
  position: sticky;
  top: calc(104px);
  border-bottom: 1px dotted var(--bg2);
}

.tabs-actions {
  background: var(--bg);
  display: flex;
  padding: 1rem 1rem 1rem;
  gap: 1rem;

  &:empty {
    display: none;
  }

  .button {
    text-transform: capitalize;
    justify-content: space-between;
    color: var(--text);
    flex: 1;
  }

  .button:hover {
    background: var(--bg1);
  }

  .button.active {
    outline: 1px solid var(--text1);
  }

  .icon {
    width: 14px;
    height: 14px;
  }
}

.tabs .label {
  text-transform: none;
  letter-spacing: 0;
  font-family: var(--font);
}

.tabs:has(.tabs-content:empty) {
  display: none;
}

.tabs div {
  &:empty {
    display: none;
  }
}

.tabs.inning-plays .tabs-actions {
  position: sticky;
  top: calc(104px);
  background: var(--bg);
  z-index: 9;
  border-bottom: 1px dotted var(--bg2);
}

.win {
  color: var(--accent);
}

.loss {
  color: hsl(0 100% 60%);
  color: var(--text1);
}

.drawer-overlay {
  position: fixed;
  inset: 0;
  background: hsl(0deg 0% 0%/66%);
  z-index: 100;
}

.drawer-content .drawer-handle {
  top: 1rem;
  background: var(--bg3);
}

.drawer-content {
  height: fit-content;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  outline: none;
  z-index: 100;

  .drawer-children {
    padding: 2rem 1rem 2rem;
    background: var(--bg1);
  }
}
