.current-inning {
  font-size: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--accent);
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;

  & svg {
    width: 12px;
    height: 12px;
    position: relative;
    top: 1px;
  }
}
