.box-players {
  padding: 1rem 0 0 1rem;
  font-size: 12px;

  &:last-child {
    padding-bottom: 1.5rem;
  }
}

.box-players-data {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
  flex-direction: row;
  overflow: scroll hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;
  scrollbar-width: none; /* Firefox */
  overflow: -moz-scrollbars-none;
  scroll-padding: 0 1rem 0 0;
}

.box-player-stats {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-right: 1rem;
}

.box-players:not(.final) .active {
  background: var(--bg2);
  color: var(--text);
}

.box-stats {
  display: grid;
  justify-content: space-evenly;
  text-align: right;
  align-items: center;

  & span {
    pointer-events: none;
    width: 100%;
    scroll-snap-align: end;
    scroll-snap-stop: always;
    text-align: right;
    position: relative;
    padding: 0 0.5rem;
  }
}

.box-stats:not(.box-heading-labels) {
  & span:not(:last-child)::before {
    content: '';
    position: absolute;
    right: 0;
    top: -2px;
    bottom: -2px;
    background: var(--bg2);
    width: 1px;
  }
}

.box-heading-labels {
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.box-heading-labels .box-name {
  font-family: var(--font-sans);

  &::after {
    display: none;
  }
}

.box-name {
  color: var(--text);
  display: flex;
  white-space: nowrap;
}

.ph.box-name {
  padding-left: 0.25rem;

  &::before {
    content: '—';
    margin-right: 0.25rem;
  }
}

.box-player-names {
  --pos-length: 4ch;
  --name-padding: 1ch;

  gap: 4px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: sticky;
  left: 0;
  min-width: calc(
    var(--max-name) * 1ch + var(--pos-length) + var(--name-padding)
  );
  background: var(--bg);
  z-index: 10;
}

.box-player-names .box-name::after {
  content: '(' attr(data-pos) ')';
  color: var(--text1);
  margin-left: 0.25rem;
}

.box-name.highlighted,
.box-stats.highlighted {
  position: relative;
  z-index: 1;
  color: var(--accent);
}

.box-name.highlighted::before,
.box-stats.highlighted::before {
  content: '';
  position: absolute;
  inset: 0;
  background: var(--accent);
  opacity: 0.15;
  z-index: -1;
}

.box-name.highlighted::after {
  color: var(--accent);
}
