.box-score {
  &:has(.box-score-content:empty) {
    display: none;
  }

  & div:empty {
    display: none;
  }

  & .win {
    color: var(--text1);
  }

  & .loss {
    color: hsl(0 100% 60%);
    color: var(--text1);
  }
}

.box-score-actions {
  border-bottom: 1px dotted var(--bg2);
  background: var(--bg);
  display: flex;
  padding: 1rem 1rem 1rem;
  gap: 2rem;

  &:empty {
    display: none;
  }

  & .button {
    text-transform: capitalize;
    justify-content: space-between;
    color: var(--text1);
    padding: 0;
    background: none;
    font: 700 0.875rem/1 var(--font-sans);
    -webkit-tap-highlight-color: transparent;
  }

  & .button:hover {
    background: transparent;
  }

  & .button.active {
    color: var(--text);
    position: relative;
    background: transparent;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      bottom: -17px;
      left: 0;
      height: 1px;
      background: var(--accent);
    }
  }

  & .button .label {
    text-transform: none;
    letter-spacing: 0;
    font-family: var(--font-sans);
  }

  & .button .team-home-away,
  & .button .record {
    display: inline-flex;
    margin-left: 0.5rem;
    text-transform: none;
    letter-spacing: 0;
    font-family: var(--font-mono);
    font-size: 12px;
  }
}

.box-players {
  padding: 1rem 0 1rem 1rem;
  font-size: 12px;
  display: none;

  &.active {
    display: block;
  }
}

.box-players-data {
  display: flex;

  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
  flex-direction: row;
  overflow: scroll hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;
  scrollbar-width: none; /* Firefox */
  overflow: -moz-scrollbars-none;
  scroll-padding: 0 0 0 0;
}

.box-player-stats {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.box-players:not(.final) .active {
  background: var(--bg2);
  color: var(--text);
}

.box-stats {
  display: grid;
  justify-content: space-evenly;
  margin-left: auto;
  text-align: right;
  align-items: center;

  & span {
    width: 100%;
    scroll-snap-align: end;
    scroll-snap-stop: always;
    text-align: center;

    &:not(:first-child) {
      border-left: 1px solid var(--bg2);
    }
  }

  & .season {
    color: var(--text1);
  }
}

.batting .box-stats {
  grid-template-columns: 4ch 3ch 3ch 5ch 4ch 4ch 6ch 6ch 4ch;
}

.pitching .box-stats {
  grid-template-columns: 5ch 3ch 3ch 4ch 4ch 3ch 6ch 6ch 3ch 3ch;
}

.box-heading-labels {
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.box-heading-labels .box-name {
  font-family: var(--font-mono);

  &::after {
    display: none;
  }
}

.box-name {
  color: var(--text);
  display: flex;
  white-space: nowrap;
}

.ph.batting::before {
  content: '—';
  margin-right: 0.25rem;
}

.box-player-names {
  gap: 4px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: sticky;
  left: 0;
  background: var(--bg);
}

.box-player-names .box-name::after {
  content: '(' attr(data-pos) ')';
  color: var(--text1);
  margin-left: 0.25rem;
}
