.box-score {
  &:has(.box-score-content:empty) {
    display: none;
  }

  & div:empty {
    display: none;
  }

  & .win {
    color: var(--accent);
  }

  & .loss {
    color: hsl(0 100% 60%);
    color: var(--text1);
  }
}

.box-score-actions {
  border-bottom: 1px dotted var(--bg2);
  background: var(--bg);
  display: flex;
  padding: 1rem 1rem 1rem;
  gap: 1rem;

  &:empty {
    display: none;
  }

  & .button {
    text-transform: capitalize;
    justify-content: space-between;
    color: var(--text);
    flex: 1;
  }

  & .button .label {
    text-transform: none;
    letter-spacing: 0;
    font-family: var(--font-sans);
  }

  & .button:hover {
    background: var(--bg1);
  }

  & .button.active {
    outline: 1px solid var(--text1);
  }

  & .icon {
    width: 14px;
    height: 14px;
  }
}

.box-players {
  padding: 1rem;
  font-size: 12px;
}

.box-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
  cursor: pointer;

  & * {
    pointer-events: none;
  }
}

.box-players:not(.final) .box-row.active {
  background: var(--bg2);
  color: var(--text);
}

.box-row.ph.batting {
  &::before {
    content: "—";
    margin-right: 0.25rem;
  }
}

.box-stats {
  display: grid;
  grid-template-columns: repeat(6, 3ch) 6ch 6ch;
  justify-content: space-evenly;
  margin-left: auto;
  text-align: right;
  align-items: center;

  & span {
    text-align: center;
  }

  & span:last-child {
    text-align: right;
  }

  & span:nth-child(7n) {
    text-align: right;
  }
}

.batting .box-stats {
  grid-template-columns: repeat(6, 3ch) 6ch 6ch;
}

.pitching .box-stats {
  grid-template-columns: 5ch repeat(5, 3ch) 6ch 6ch;
}

.box-row.labels .box-name {
  font-family: var(--font-mono);
}

.box-row .box-name {
  font-family: var(--font-sans);
  grid-area: name;
  color: var(--text);
}

.box-row.players .box-name::after {
  content: "(" attr(data-pos) ")";
  color: var(--text1);
  margin-left: 0.25rem;
}

.box-row:first-of-type {
  font-weight: 600;
  padding-bottom: 0.5rem;
}
