.scoreboard {
  --char-w: 2ch;

  display: flex;
  gap: 0.5rem;
  font-size: 14px;
  padding: 0;
}

/* Teams */
.scoreboard .team {
  line-height: 24px;
}

.scoreboard .scoreboard-teams {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &::before {
    font-size: 10px;
    font-weight: 400;
    content: "TEAMS";
    display: inline-flex;
    color: transparent;
  }
}

/* Scoreboard Scroll Data */
.scoreboard .scoreboard-data {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
  flex-direction: row;
  overflow: scroll hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;
  scrollbar-width: none; /* Firefox */
  overflow: -moz-scrollbars-none;
  scroll-padding: 0 0 0 0;
}

/* Innings */
.scoreboard .scoreboard-innings {
  display: flex;
  gap: 0.25rem;
}

/* Inning */
.scoreboard .scoreboard-inning {
  width: var(--char-w);
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  color: var(--text1);

  scroll-snap-align: start;
  scroll-snap-stop: always;

  &::before {
    font-size: 10px;
    font-weight: 400;
    content: attr(data-inning);
    display: inline-flex;
    color: var(--text1);
  }
}

/* Inning Runs */
.scoreboard .scoreboard-inning .runs {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: inherit;
  position: relative;
}

.scoreboard .scoreboard-inning .runs::after {
  content: "";
  border-radius: 4px;
  position: absolute;
  z-index: -1;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scoreboard.is-top .scoreboard-inning:last-child::before {
  color: var(--accent);
  font-weight: 700;
}

.scoreboard.is-top .scoreboard-inning:last-child .runs.away::after,
.scoreboard.is-bottom .scoreboard-inning:last-child .runs.home::after {
  border: 1px dotted transparent;
  border-color: var(--accent);
}

/* Score Column (R B H) */
.scoreboard .scoreboard-score {
  position: sticky;
  display: flex;
  align-items: stretch;
  margin-left: auto;
  line-height: inherit;
  right: 0;
  padding-left: 0.5rem;
  background: var(--bg);
  z-index: 1;
  gap: 0 0.5rem;
}

.scoreboard .scoreboard-score-column {
  font-weight: 600;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & span {
    width: var(--char-w);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &::before {
    font-size: 10px;
    font-weight: 400;
    display: inline-flex;
    color: var(--text1);
    justify-content: center;
  }

  &.runs::before {
    content: "R";
  }
  &.hits::before {
    content: "H";
  }
  &.errors::before {
    content: "E";
  }
}

/* Team Record */
.scoreboard .team-record {
  display: none;
  color: var(--text1);
}

.scoreboard.no-innings .team-record {
  display: flex;
}

/* Winner */
.scoreboard .team.winner .team-name,
.scoreboard .scoreboard-column .winner {
  color: var(--text);
  font-weight: 700;
}

.scoreboard.final .team.winner .team-logo::after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background: var(--accent);
  position: absolute;
  top: 0;
  right: 0;
}
