#header {
  height: 3rem;
  position: sticky;
  top: 0;
  padding: 0 1rem;
  gap: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg);
  border-bottom: 1px solid var(--bg2);
  z-index: 100;

  & h1 {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font: 700 0px/1 var(--font-sans);
  }

  & .logo {
    width: 2.5rem;
    height: auto;
  }

  & .header-nav {
    align-items: center;
    display: flex;
    gap: 1rem;
    flex: 1;
    justify-content: space-between;
  }

  & .is-today {
    color: var(--text);
    background: var(--bg);
  }

  & .current-day {
    /* min-width: 21ch; */
  }
}
