.player {
  display: grid;
  gap: 0.25rem 0.5rem;
  font-size: 12px;
  align-items: center;
  line-height: 1;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    'avatar name name'
    'avatar summary note';

  &:last-child {
    margin-bottom: 0.25rem;
  }

  & * {
    pointer-events: none;
  }

  & p {
    margin: 0;
  }
}

.player-note {
  grid-area: note;
}

.player-avatar {
  --size: 2rem;
  width: var(--size);
  height: var(--size);
  border-radius: var(--size);
  display: block;
  margin: 0;
}

.player-name {
  color: var(--text);
  font-weight: 600;
  font-size: 14px;
  line-height: 1;

  &:empty {
    display: none;
  }

  &[data-pos]::after {
    content: '(' attr(data-pos) ')';
    font-weight: 400;
    color: var(--text1);
    margin-left: 0.25rem;
    font-size: 12px;
  }
}

.player .player-summary,
.player .player-note {
  color: var(--text1);
  text-wrap: balance;
}

.player .player-avatar {
  grid-area: avatar;
}

.player .player-name {
  grid-area: name;
}

.player .player-summary {
  grid-area: summary;
}
