.game-preview {
  --char-w: 2ch;

  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  width: 100%;
  border-bottom: 1px solid var(--bg2);
  padding: 0 1rem;
}

/* Teams */

.game-preview .game-preview-teams {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
  padding: 2rem 0;
}

.game-preview .team {
  line-height: 24px;
  flex: 1;
  width: 100%;

  & .team-name {
    width: 3ch;
    font-weight: 400;
  }
}

.game-preview .winner .team-name,
.game-preview .winner .team-score {
  font-weight: 700;
}

.game-preview .winner .team-logo::after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background: var(--accent);
  position: absolute;
  top: 0;
  right: 0;
}

.game-preview-record {
  color: var(--text1);
  margin-left: 0;
  font-family: var(--font-mono);
  font-size: 10px;
  font-weight: 600;
  line-height: inherit;
}

.game-preview-details {
  margin-left: auto;
}

.game-preview-aside {
  font-size: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-left: auto;
}

.game-preview-status {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  border-left: 1px solid var(--bg2);
  padding-left: 1rem;
  height: 52px;
  width: 11ch;
}

.game-preview-details {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 4rem;
  font-size: 12px;
  justify-content: center;
  align-self: stretch;
  align-items: center;
  border-left: 1px dotted var(--text2);
  padding: 0 0 0 1rem;
  margin-left: 1rem;
  box-sizing: content-box;

  & .current-inning {
    position: relative;
    left: -3px;
  }
}
