.tabs {
  position: relative;
}

.tabs .tabs-actions {
  background: var(--bg);
  display: flex;
  padding: 1rem 1rem 1rem;
  gap: 1rem;
  z-index: 100;

  &:empty {
    display: none;
  }

  & .button {
    text-transform: capitalize;
    justify-content: space-between;
    color: var(--text1);
    flex: 1;
  }

  & .button:hover {
    background: var(--bg1);
  }

  & .button.active {
    background: var(--bg2);
    color: var(--text);
  }

  & .icon {
    width: 14px;
    height: 14px;
  }
}

.tabs .label {
  text-transform: none;
  letter-spacing: 0;
  font-family: var(--font);
}

.tabs div {
  &:empty {
    display: none;
  }
}
