.tabs {
  position: relative;
}

.tabs .tabs-actions {
  background: var(--bg);
  display: flex;
  padding: 0 0.5rem;
  flex-direction: row;
  overflow: scroll hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;
  scrollbar-width: none; /* Firefox */
  overflow: -moz-scrollbars-none;
  scroll-padding: 0 1rem 0 1rem;
  z-index: 100;
  flex: 1;

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  &:empty {
    display: none;
  }

  & .button {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    padding: 1rem 0.5rem;
    white-space: nowrap;
    text-transform: capitalize;
    justify-content: space-between;
    color: var(--text1);
    background: none;
    font: 700 16px/1 var(--font-sans);
    -webkit-tap-highlight-color: transparent;

    & * {
      pointer-events: none;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0.5rem;
      right: 0.5rem;
      height: 1px;
      background: var(--accent);
      opacity: 0;
      transition: opacity 0.15s var(--ease-out-sine);
    }
  }

  & .button:hover {
    background: transparent;
  }

  & .button.active {
    color: var(--text);

    &::after {
      opacity: 1;
    }
  }

  & .icon {
    width: 14px;
    height: 14px;
  }
}

.tabs .label {
  text-transform: none;
  letter-spacing: 0;
  font-family: var(--font);
}

.tabs div {
  &:empty {
    display: none;
  }
}

.tabs-content h3 {
  white-space: nowrap;
  min-width: 80px;
  padding: 0 1rem 1.5rem;
  margin: 1.25rem 0 0 0;
  position: sticky;
  top: calc(48px + 65px + 1rem);
  z-index: 10;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
}

.tabs-content .tab-section {
  padding: 1rem 1rem 0 0;
  display: flex;
  flex-direction: column-reverse;
}
